{% extends 'base.html' %}

{% block content %}
 <div>
     {% for app in apps %}
  <h2>{{ app.name }}</h2>
     {% endfor %}
 </div>
 <form>{% csrf_token %}
  {{ form }}
  <button class="btn btn-success" type="submit">Search</button>
 </form>
  <p><a>Date</a> | <a>Count</a></p>
 <div class="card">
 {% for date, count in dict_with_count_error_per_day.items %}
  <p><a>{{ date }}</a> | <a>{{ count }}</a></p>
 {% endfor %}
 </div>
  {% for type_error in set_errors %}
   <p>{{ type_error }}</p>
    <div class="card">
    {% for errors in table_errors %}
     {% if type_error == errors.type %}
      <div class="card-body">
       <span class="font-weight">{{ errors.date }} | {{ errors.message }} | {{ errors.type }}
         <div class="card-body">
          {{ errors.stack_trace }}
         </div>
        </div>
     {% endif %}
    {% endfor %}
   </div>
  <br />
{% endfor %}
{% endblock content %}





