{% extends 'base.html' %}
{% block content %}
 <div>
     {% for app in apps %}
  <h2>{{ app.name }}</h2>
     {% endfor %}
 </div>
 <form>{% csrf_token %}
  {{ form }}
  <button class="btn btn-success" type="submit">Search</button>
 </form>
  {% for type_error in set_errors %}
   <p>{{ type_error }}</p>
    <div class="card">
    {% for errors in table_errors %}
     {% if type_error == errors.type %}
      <div class="card-body">
       <span class="font-weight">{{ errors.app_id }} | {{ errors.date }} | {{ errors.message }} |
       {{ errors.stack_trace }} | {{ errors.type }}
      </div>
     {% endif %}
    {% endfor %}
   </div>
  <br />
  {% endfor %}
{% endblock content %}